@import "../../shared/styles/variables.scss";

.post {
  aspect-ratio: 1;
  padding: 7px;
  background-color: $color-seasalt;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 0px rgba(198, 202, 216, 0.5);
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;

  &.active {
    background-color: $color-blue;
    color: $color-white;
    transform: scale(1.05);
  }

  .post-header {
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  .post-content {
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
}
