/*
* This file contains all the default colors supposed to be used in the application
*/

//Colors
$color-white: #ffffff;
$color-blue: #21a2dc;
$color-dark-blue: #1c2541;
$color-seasalt: #f6f6f6;
$color-black: #000000;
$color-gray: #c6cad7;
